.form {
  display: flex;
  justify-content: center;
}

.play {
  background-color: #091428;
  margin:0 auto;
  padding: 2rem;
  text-align: center;
  border: 4px solid #463714;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

input {
  font-size: 2em;
  margin-right: 1em;
  background-color: #005A82;
}

button {
  padding: 1em;
  font-size: 1.2em;
  background-color: #005A82;
  border: 2px solid #463714 ;
  color: white;
  border-radius: 8px;
}
